<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Getting Started: Handling Form Submission</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<h1>Edit User</h1>-->
<!--<form action="#" th:action="@{/edit}" th:object="${user}" method="post">-->
<!--    <p>First name: <input type="text" readonly th:field="*{firstName}" /></p>-->
<!--    <p>Last name: <input type="text" readonly th:field="*{lastName}" /></p>-->
<!--    <p>Birthday: <input type="text" th:field="*{birthday}" /></p>-->
<!--    <p>Salary: <input type="number" th:field="*{salary}" /></p>-->
<!--    <p>Email: <input type="text" th:field="*{email}" /></p>-->
<!--    <p>Company: <input type="text" th:field="*{companyName}" /></p>-->
<!--    <p><input type="submit" value="Apply" /> <input type="reset" value="Clear" /></p>-->
<!--</form>-->
<!--<a href="/">Home</a>-->
<!--</body>-->
<!--</html>-->
